body{
  background-color:#1D1E24;
  color:white;
}
.prompt{
  color:white;
}
input{
  border:none;
  outline: none;
  color:white;
  background-color:#1D1E24;
}
img{
  position:fixed;
  right:0;
  top:50%;
  height:400px;
}
